*{
   
    padding: 10px 10px 10px 10px;
}
h1{
    color:blue;
    font-family: 'Montserrat', sans-serif;
    font-size:55px;
}
p{
    font-family: 'Montserrat', sans-serif;
}

p span{
    font-weight: bold;
}
/* font Shorthand
selector {
  font: [font-style] [font-variant] [font-weight] [font-size]/[line-height] [font-family];
}
p {
  font: italic small-caps bold 16px/1.2 Arial, sans-serif;
}

*/

.intro{
    /* class*/
    background-color:greenyellow;
}



.text{
    color: rgb(255, 178, 127);
}

.intro h1{
    color: rgb(225, 24, 151);
}
.intro >p{
    color: aquamarine;
}

.intro-i{
    background-image: url(../images/i1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-color: aquamarine;
    
}

.k h1{
    border-left: solid;
    border-right: solid;
    border-top: dotted;
    border-bottom: dotted;
  /*  border-style: solid; */
    border-color: blueviolet;

}

.k button{
    background-color: blue;
    color:aqua;
    border-style: dotted;
    border-color: aquamarine;
    border-width: 5px;
    border-radius: 50px;
}