*{
   
    padding: 10px 10px 10px 10px;
}
h1{
    color:blue;
    font-family: 'Montserrat', sans-serif;
    font-size:55px;
}
p{
    font-family: 'Montserrat', sans-serif;
}

p span{
    font-weight: bold;
}
/* font Shorthand
selector {
  font: [font-style] [font-variant] [font-weight] [font-size]/[line-height] [font-family];
}
p {
  font: italic small-caps bold 16px/1.2 Arial, sans-serif;
}

*/

.intro{
    /* class*/
    background-color:greenyellow;
}



.text{
    color: rgb(255, 178, 127);
}

.intro h1{
    color: rgb(225, 24, 151);
}
.intro >p{
    color: aquamarine;
}

.intro-i{
    background-image: url(../images/i1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-color: aquamarine;
    
}

.k h1{
    border-left: solid;
    border-right: solid;
    border-top: dotted;
    border-bottom: dotted;
  /*  border-style: solid; */
    border-color: blueviolet;

}

.k button{
    background-color: blue;
    color:aqua;
    border-style: dotted;
    border-color: aquamarine;
    border-width: 5px;
    border-radius: 50px;
}

.box-model button{
   
        margin: 100px 10px;
        padding: 50px 50px;
    /* p{
        margin-top:5px;
        margin-bottom:5px;
        margin-right:5px;
        margin-left:5px;
        margin: 5px 10px 5px 10px;
    }*/
}

.testimonial h1{
    font-weight: bold;
    color: brown;
}
.testimonial{
    padding:5px;
    background-color: blueviolet;
    max-width: auto;
    height: auto;
    
}

.outline{
    padding:30px;
    border:2px solid black;
    background-color: aquamarine;
    color: brown;
    outline: 5px dotted red;
}
.text-format h1{
    font-weight: bold;
    text-shadow: 3px 2px white;
    color:aqua

}
.text-format{
    background-color: rgb(9, 134, 92);
    color: brown;
    text-align: justify;
    text-decoration: underline;
    text-transform: capitalize;  /* mostly dont use uppercase, can use lowercase or capitalize*/
    text-indent: 50px;
    letter-spacing: 3px;
    line-height: 20px; /*usually line-height will be 1.8px but it is not working here*/
    word-spacing: 10px;

}

.text-format p:first-of-type {
    text-decoration: line-through;
    direction: rtl;
  }

  .text-format p:nth-of-type(2) {
    text-decoration: line-through;
  }

  .links a{
    color:lightgreen;
    text-decoration: underline;
  }
  .links a:link{
    color:red
  }
  .links a:visited{
    color:maroon
  }
  .links a:hover{
    color:aqua
   
  }
  .links a:active{
    color:blueviolet
  }

  /*go to usbrandcolors.com for brand colors*/
  .facebook{
    padding:10px;
    color: white;
    border:none;
    border-radius: 8px;
    background-color: violet;
  }
  .google{
    padding:10px;
    color: white;
    border:none;
    border-radius: 8px;
    background-color:yellow;
  }
  .twitter{
    padding:10px;
    color: white;
    border:none;
    border-radius: 8px;
    background-color: lightblue;
  }
  
  ol{
    background-color:whitesmoke;
    padding: 20px ;
    /* bullets list-style-type: circle;*/
    
  }

  ol li {
    background: black;
    padding: 100px;
    margin-left: 35px;
    color: aqua;
    list-style-image: url(check-mark.png);
    background-size: 10px; /* Adjust the size of the image */
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px; /* Adjust as needed */
  }
  
  table{
    border-collapse: collapse;
    width:100%;
    text-align: center;
    
  }

  table{
    border: 3px solid goldenrod
  }

  th{
    font-size:20px;
    padding:15px;
    background-color: bisque;
  }

  /*This is
  td{
    padding: 70px;
  }
  not working*/

  tr:hover{
    background-color: aquamarine;
  }

  tr:nth-child(even){
    background-color: antiquewhite;
  }
  